<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/admin2.css' %}">
    <link rel="icon" href="{% static 'icon/Malekith.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="contenedor">
            <img src="{% static 'icon/MALEKITH-1.png' %}" alt="logo" class="logo">
            <div class="btn-index">
                {% if request.session.user_name %}
                    <a class="welcome-message">Admin {{ request.session.user_name }}</a>
                    <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <section class="admin-container">
            <a href="{% url 'admin_view' %}" class="admin-link">Usuarios</a>
            <a href="{% url 'admin_view2' %}" class="admin-link">Productos</a>
            <a href="{% url 'panel_admin' %}" class="admin-link">Ventas</a>
            <a class="admin-link" href="https://www.youtube.com">Como funciona</a>
        </section>
        <section>
            <h1 class="admin-title">{{ title }}</h1>
            <p class="admin-description">Completa el formulario para {{ title|lower }}.</p>


            <form method="post">
                {% csrf_token %}
                {{ form.as_p }} {# Esto renderiza todos los campos del formulario como párrafos #}
                <button type="submit">Guardar Producto</button>
            </form>
        </section>
    </main>
</body>
</html>