{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Exitosa</title>
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <style>
        
    </style>
</head>
<body>
    <div class="exito-container">
        <h1>¡Compra realizada con éxito!</h1>
        <p>Tu pedido <strong>#{{ pedido.id_pedido }}</strong> ha sido registrado correctamente.</p>
        <p><strong>Método de pago:</strong> {{ pedido.metodo|capfirst }}</p>
        <a href="{% url 'productos' %}">Volver a la tienda</a>
        <h1>Productos Comprados</h1>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pedido.productos.all %}
                    <tr>
                        <td>{{ p.id_producto.descripcion_producto }}</td>
                        <td>{{ p.cantidad }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
