{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Empresa</title>
    <link rel="stylesheet" href="{% static 'css/nuestraEmpresa.css' %}">
    <link rel="icon" href="{% static 'icon/Malekith.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="contenedor">
            <img src="{% static 'icon/MALEKITH-1.png' %}" alt="logo" class="logo">
            <div class="btn-index">
                <a href="{% url 'inicio' %}">Inicio</a>
                <a href="{% url 'nuestra_empresa' %}">Nuestra empresa</a>
                <a href="{% url 'productos' %}">Tienda</a>
                
            </div>
            <div class="btn-inicio">
                
                {% if request.session.user_name %}
                    <a href="#" id="userMenuToggle">Hola, {{ request.session.user_name }}</a>
                    <a href="{% url 'perfil' %}">Perfil</a>
                    <a href="{% url 'pedidos' %}">Pedidos</a>
                    <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
                    
                    
                {% else %}
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                {% endif %}
                
            </div>
            
        </nav>
    </header>
    <section>
        <div class="imgcontenedor">
            <img src="{% static 'img/productosaseoanimado1.png' %}" alt="imagen empresa">
        </div>
        <br>
        <div class="descripcion">
            <h1>¡Bienvenidos a MaxiAseo: Más que Limpieza, Bienestar para tu Hogar!</h1>
            <p>En MaxiAseo, somos mucho más que una simple tienda de productos de limpieza. Somos tus aliados en la búsqueda de un hogar impecable, saludable y lleno de bienestar. Con años de experiencia en el sector, hemos consolidado nuestro compromiso de brindarte no solo los mejores productos, sino también la asesoría y el acompañamiento que necesitas para transformar tu espacio en un verdadero santuario de pulcritud.</p>
            <h1>Nuestra Misión:</h1>
            <p>Nuestra misión es simplificar tu vida y hacer que la tarea de mantener tu hogar limpio sea una experiencia placentera y eficiente. Creemos firmemente que un ambiente limpio contribuye directamente a la calidad de vida, reduce el estrés y fomenta un entorno más feliz y productivo. Por eso, nos dedicamos a seleccionar cuidadosamente cada artículo de nuestro catálogo, asegurándonos de que cumpla con los más altos estándares de calidad, eficacia y sostenibilidad.</p>
            <h1>¿Quiénes Somos Realmente?</h1>
            <p>Somos un equipo apasionado por la limpieza y el orden, pero también somos padres, madres, hijos, y mascotas que entendemos las exigencias del día a día. Sabemos que tu tiempo es valioso y que necesitas soluciones prácticas y confiables. Por eso, en MaxiAseo, no solo vendemos productos; ofrecemos soluciones integrales para el aseo de tu hogar y negocio. Desde los desinfectantes más potentes hasta los paños de microfibra más delicados, pasando por productos ecológicos y biodegradables, tenemos todo lo que necesitas para cada rincón de tu espacio.</p>
            <h1>Nuestro Compromiso con la Calidad y la Variedad:</h1>
            <p>En MaxiAseo, nos enorgullece ofrecer una amplia gama de productos que se adaptan a todas las necesidades y presupuestos. Trabajamos con las marcas más reconocidas y confiables del mercado, garantizando que cada compra que realices sea una inversión en calidad. Además, estamos constantemente investigando y actualizando nuestro inventario para incorporar las últimas innovaciones en el mundo del aseo, desde tecnologías que facilitan la limpieza hasta productos con fórmulas más amigables con el medio ambiente.</p>
            <p>Encontrarás desde los básicos indispensables como detergentes, lavaloza y limpiadores multiusos, hasta productos especializados para el cuidado de pisos, muebles, baños, cocinas y hasta para el lavado de tu ropa. También contamos con una sección dedicada a accesorios de limpieza, como escobas, traperos, baldes, guantes y cepillos, todos diseñados para hacer tu trabajo más fácil y efectivo.</p>
        </div>
    </section>
    <footer>
        <p>Síguenos en nuestras redes sociales:</p>
        <div class="social-media">
            <a href="https://www.instagram.com"><img src="{% static 'icon/logotipo-de-instagram.png' %}" alt="Instagram" class="icono"></a>
            <a href="https://www.facebook.com"><img src="{% static 'icon/facebook.png' %}" alt="Facebook" class="icono"></a>
            <a href="https://www.twitter.com"><img src="{% static 'icon/gorjeo.png' %}" alt="Twitter" class="icono"></a>
        </div>
        <p>Contacto: +57 123 456 7890</p>
        <p>&copy; 2024 Malekith. Todos los derechos reservados.</p>
    </footer>
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>