<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo recuperación</title>
    {% load static %} {# Carga de archivos estáticos en Django #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'icon/Malekith.png' %}" type="image/x-icon">
    
</head>
<body>
    <header>
        <nav class="contenedor">
            <img src="{% static 'icon/MALEKITH-1.png' %}" alt="logo" class="logo">
            <div class="btn-index">
                <a href="{% url 'login' %}">Volver</a>
                
            </div>
            
        </nav>
    </header>
    <section class="form-main">
        <div class="form-content">
            <div class="box">
                <h3>¿Olvidó su contraseña?</h3>
                {# La URL del formulario se resuelve con la etiqueta 'url' de Django #}
                <form action="{% url 'olvido_contrasena' %}" method="POST">
                    {% csrf_token %} {# ¡Importante! Token CSRF para seguridad en Django #}
                    
                    

                    <div class="input-box">
                        <input type="email" placeholder="Correo de recuperación" name="email" class="input-control" required value="{{ request.POST.email }}">
                    </div>
                    <button type="submit" class="btn">Enviar</button>
                </form>
                <p>¿No tienes cuenta? <a href="{% url 'registro' %}" class="gradient-text">Crear cuenta</a></p>
            </div>
        </div>
    </section>
</body>
</html>