<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}"> 
    <link rel="icon" href="{% static 'icon/Malekith.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="contenedor">
            <img src="{% static 'icon/MALEKITH-1.png' %}" alt="logo" class="logo">
            <div class="stock-alert">
                <button id="toggleStockDropdown" class="stock-button">
                    Bajo stock 
                    {% if total_bajo_stock > 0 %}
                    <span class="stock-count">{{ total_bajo_stock }}</span>
                    {% endif %}
                </button>
                <div id="stockDropdown" class="stock-dropdown" style="display: none;">
                    <ul>
                        {% for producto in productos_bajo_stock %}
                            <li>{{ producto.descripcion_producto }} ({{ producto.cantidad_producto }} productos)</li>
                        {% empty %}
                            <li>No hay productos con bajo stock</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if request.session.user_name %}
                <a class="welcome-message">Hola Admin, {{ request.session.user_name }}</a>
                <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <section>
            <h1 class="admin-title">Bienvenido al Panel de Usuarios</h1>
            <p class="admin-description">Desde aquí puedes gestionar tus usuarios.</p>
        </section>
        <section class="admin-buttom">
            <a class="admin-drill" href="{% url 'admin_usuarios' %}">Gestionar Usuarios</a>
            <a class="admin-drill" href="{% url 'admin_envio_masivo' %}">Envio de correos</a>
        </section>
        
        <section class="admin-container">
            <a href="{% url 'admin_view' %}" class="admin-link">Usuarios</a>
            <a href="{% url 'admin_view2' %}" class="admin-link">Productos</a>
            <a href="{% url 'panel_admin' %}" class="admin-link">Ventas</a>
            <a class="admin-link" href="https://drive.google.com/file/d/1chQcVUth3pnlchjMQnvR4MxErf6-2Rqs/view?usp=drive_link">Como funciona</a>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButton = document.getElementById('toggleStockDropdown');
            const dropdown = document.getElementById('stockDropdown');

            toggleButton.addEventListener('click', function () {
                dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'block' : 'none';
            });

            // Cierra si se hace clic fuera
            document.addEventListener('click', function (event) {
                if (!toggleButton.contains(event.target) && !dropdown.contains(event.target)) {
                    dropdown.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>