<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Confirmar Eliminación de Entrada de Producto</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="icon" href="{% static 'icon/Malekith.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="contenedor">
            <img src="{% static 'icon/MALEKITH-1.png' %}" alt="logo" class="logo">
            <a href="{% url 'admin_entradas' %}">Volver a Entradas de Producto</a>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="admin-title">Eliminar Entrada de Producto</h1>
            <p class="admin-description">¿Estás seguro de que quieres eliminar la entrada **#{{ entrada.id_entrada_producto }}** (Producto: **{{ entrada.nombre_producto }}**, Cantidad: **{{ entrada.cantidad_producto }}**)?</p>

            <form method="post" style="text-align: center; margin-top: 20px;">
                {% csrf_token %}
                <button type="submit" class="delete-btn" style="padding: 10px 20px; font-size: 1.1rem;">Sí, Eliminar Entrada</button>
                <a href="{% url 'entrada_list' %}" class="edit-btn" style="padding: 10px 20px; font-size: 1.1rem; margin-left: 10px;">Cancelar</a>
            </form>
        </section>
    </main>
</body>
</html>